body #container {
    background: #FFFFFF;
    border: 1px solid #cccccc;
    margin: auto;
    padding: 20px 50px 40px;
    width: 80%;
    position: relative;
}

body #container h1,
body #container h2 {
    border-bottom: 1px solid #1F2D54;
}

select {
    display: none !important;
}

.thumbnail {
    text-align: center;
    background-color: transparent;
    border: 2px solid #1F2D54;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.thumbnail img {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section .container {
    max-width: 1140px;
    padding: 0 2em;
    margin: 0 auto;
}

#creator label {
    color: #FFFFFF;
}

#creator li {
    cursor: pointer;
}

#creator input,
.login input {
    max-width: 400px;
    text-align: center;
    display: inline-block;
    margin: 1em 0;
}

.bg-primary .thumbnail {
    text-align: center;
}

.btn-primary {
    background-color: #e8462b;
    border-color: #e8462b;
}

.btn-primary:active {
    background-color: #e8462b !important;
    border-color: #e8462b !important;
}

.top-section {
    /* Make sure that content doesn't disappear behind the top bar */
    margin-top: 72px;
}

.burger {
    text-align: left;
}

.burger__anchor {
    position: relative;
    display: block;
    /* When jumping to this anchor, the targeted burger will be 250px below the start of the viewport */
    top: -250px;
    visibility: hidden;
}

.burger__ranking {
    text-align: left;
    margin-bottom: 0;
}

.burger__ingredients {
    margin-bottom: 1em;
}

.burger__description {
    margin-bottom: 1em;
}

.burger__voting {
    text-align: center;
}

@media (min-width: 768px) {
    .burger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .burger__ranking {
        flex-grow: 0;       /* don't grow */
        flex-shrink: 0;     /* don't shrink */
        flex-basis: 10%;
    }
    
    .burger__info {
        flex-grow: 0;       /* don't grow */
        flex-shrink: 0;     /* don't shrink */
        flex-basis: 75%;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .burger__ingredients {
        margin-bottom: 0;
        margin-right: 1em;
        flex-grow: 0;       /* don't grow */
        flex-shrink: 0;     /* don't shrink */
        flex-basis: 60%;
    }

    .burger__description {
        text-align: right;
        margin-bottom: 0;
        margin-left: auto;
        flex-grow: 0;       /* don't grow */
        flex-shrink: 0;     /* don't shrink */
        flex-basis: 33%;
    }
    
    .burger__voting {
        flex-grow: 0;       /* don't grow */
        flex-shrink: 0;     /* don't shrink */
        flex-basis: 15%;
        text-align: right;
    }
}

.messages {
    position: fixed;
    z-index: 4;
}

.message {
    text-align: center;
    position: fixed;
    z-index: 4;
    background-color: white;
    padding: 1em;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    top: 250px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.amiv-brand__amiv {
    display: block;
}

.amiv-brand__hyphen {
    display: none;
}

.amiv-brand__burger {
    display: block;
}


@media (min-width: 768px) {
    .amiv-brand__amiv {
        display: inline;
    }

    .amiv-brand__hyphen {
        display: inline;
    }
    
    .amiv-brand__burger {
        display: inline;
    }
}

.dropdown-item:active {
    background-color: #e8462b !important;
}