<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AMIV Burger</title>

    <!-- OGP tags, see http://ogp.me/ -->
    <meta property="og:title" content="AMIV Anniversary Burger Creator" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://burger.amiv.ethz.ch" />
    <meta property="og:image" content="https://burger.amiv.ethz.ch/static/images/facebook.png" />

    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/styles/freelancer.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/image-picker.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>

    <!-- Facebook JavaScript SDK -->
    <script src="static/scripts/facebook.js"></script>

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger amiv-brand" href="/">
                <span class="amiv-brand__amiv">AMIV Jubiläum</span>
                <span class="amiv-brand__hyphen"> - </span>
                <span class="amiv-brand__burger">Burger Contest</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://125jahre.amiv.ethz.ch">More info on AMIV Jubiläum</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="message">
                    <hr class="star-dark">
                    <h4>{{ message }}</h4>
                </div>
            {% endfor %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
            <div class="col-md mb-5 mb-lg-0">
                <h4 class="mb-4">AMIV an der ETH</h4>
                <p class="lead mb-0">CAB E37<br>Universitätsstrasse 6<br>8092 Zürich<br>info@amiv.ethz.ch</p>
            </div>
            <div class="col-md mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#" id="fbShareButton" title="Share on Facebook!">
                        <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://telegram.me/share/url?url=https://burger.amiv.ethz.ch/new&text=Create your AMIV anniversary burger!" title="Share on Telegram!">
                        <i class="fa fa-fw fa-telegram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="whatsapp://send?text=Create your AMIV anniversary burger at https://burger.amiv.ethz.ch/new !" title="Share on WhatsApp!">
                        <i class="fa fa-fw fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://125jahre.amiv.ethz.ch" title="Find out more about AMIV's 125 year anniversary!">
                        <i class="fa fa-fw fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
    
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright © AMIV an der ETH 2018</small>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/scripts/jquery.min.js"></script>
    <script src="static/scripts/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/scripts/jquery.easing.min.js"></script>
    <script src="static/scripts/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/scripts/freelancer.min.js"></script>
    <script src="static/scripts/image-picker.js" type="text/javascript"></script>
    <script src="static/scripts/script.js" type="text/javascript"></script>

</body>

</html>