{% extends 'base.html' %}

{% block title %} AMIV Burger Creator {% endblock %}

{% block content %}
<form method="POST">
    <div id="creator">
        <!-- Info Section -->
        <section class="bg-primary text-white text-center top-section" id="info">
            <div class="container">
                <h2 class="text-center text-uppercase text-white">Create a Burger</h2>
                <hr class="star-light">
                <div class="text-center">
                    <h5>
                        You can create your own AMIV anniversary burger below.
                        The burger that is ranked highest on March 28th at 11:59 pm will be available
                        at the canteen Polyterasse and the Food Trailer at ETZ on April 11th!
                    </h5>
                </div>
            </div>
        </section>

        <!-- SELECT BREAD -->
        <section class="masthead text-center">
            <div class="container">
                <h3>Bread</h3>
                <hr class="star-dark">
                <p class="highlight"></p>
                <div class="picker">
                    <select name="bread" class="image-picker show-labels">
                        <option data-img-src="static/images/B1.png" value="1">Sesam Bun</option>
                        <option data-img-src="static/images/B2.png" value="2">Brioche Bun</option>
                        <option data-img-src="static/images/B3.png" value="3">Brezel Bun</option>
                        <option data-img-src="static/images/B4.png" value="4">Farmer Bun</option>
                        <option data-img-src="static/images/B5.png" value="5">Red Bun</option>
                        <option data-img-src="static/images/B6.png" value="6">White Bun</option>
                        <option data-img-src="static/images/B7.png" value="7">Black Bun</option>
                        <option data-img-src="static/images/B8.png" value="8">Yellow Bun</option>
                    </select>
                </div>
            </div>
        </section>

        <!-- SELECT PATTY -->
        <section class="masthead bg-primary text-white text-center">
            <div class="container">
                <h3>Burger Patty</h3>
                <hr class="star-light">
                <p class="highlight"></p>
                <div class="picker">
                    <select name="patty" class="image-picker show-labels">
                        <option data-img-src="static/images/P1.png" value="1">Beef Burger</option>
                        <option data-img-src="static/images/P2.png" value="2">Pulled Pork</option>
                        <option data-img-src="static/images/P3.png" value="3">Poulet Burger</option>
                        <option data-img-src="static/images/P4.png" value="4">Chicken Katsu</option>
                        <option data-img-src="static/images/P5.png" value="5">Vegane Burger</option>
                        <option data-img-src="static/images/P6.png" value="6">Vegetable Burger</option>
                        <option data-img-src="static/images/P7.png" value="7">Quinoa Chili Burger</option>
                        <option data-img-src="static/images/P8.png" value="8">Falafel Burger</option>
                    </select>
                </div>
            </div>
        </section>

        <!-- SELECT TOPPING-->
        <section class="masthead text-center">
            <div class="container">
                <h3>Topping</h3>
                <hr class="star-dark">
                <div class="picker">
                    <select name="toppings" class="image-picker show-labels" data-limit="6" multiple="multiple">
                        <option data-img-src="static/images/T01.png" value="1">Lettuce</option>
                        <option data-img-src="static/images/T02.jpg" value="2">Cole Slaw</option>
                        <option data-img-src="static/images/T03.jpg" value="3">Cheddar</option>
                        <option data-img-src="static/images/T04.jpg" value="4">Feta</option>
                        <option data-img-src="static/images/T05.jpg" value="5">Onions</option>
                        <option data-img-src="static/images/T06.jpg" value="6">Roasted Onions</option>
                        <option data-img-src="static/images/T07.jpg" value="7">Avocado</option>
                        <option data-img-src="static/images/T08.jpg" value="8">Jalapenos</option>
                        <option data-img-src="static/images/T09.jpg" value="9">Olives</option>
                        <option data-img-src="static/images/T10.jpg" value="10">Tomato</option>
                        <option data-img-src="static/images/T11.jpg" value="11">Pickle</option>
                        <option data-img-src="static/images/T12.jpg" value="12">Rucola</option>
                        <option data-img-src="static/images/T14.jpg" value="14">Egg</option>
                        <option data-img-src="static/images/T15.jpg" value="15">Bacon</option>
                        <option data-img-src="static/images/T16.jpg" value="16">Chorizo</option>
                        <option data-img-src="static/images/T17.jpg" value="17">Grilled Vegetables</option>
                        <option data-img-src="static/images/T13.jpg" value="13">Guacamole</option>
                        <option data-img-src="static/images/T18.jpg" value="18">Honey-Mustard Sauce</option>
                        <option data-img-src="static/images/T19.jpg" value="19">Hot-Ketchup</option>
                        <option data-img-src="static/images/T20.jpg" value="20">Truffle Mayonnaise</option>
                        <option data-img-src="static/images/T21.jpg" value="21">Cocktail Sauce</option>
                        <option data-img-src="static/images/T22.jpg" value="22">Tartare Sauce</option>
                        <option data-img-src="static/images/T23.jpg" value="23">BBQ Sauce</option>
                        <option data-img-src="static/images/T24.jpg" value="24">Pesto</option>
                    </select>
                </div>
            </div>
        </section>

        <!-- SELECT SIDE -->
        <section class="masthead bg-primary text-white text-center">
            <div class="container">
                <h3>Side</h3>
                <hr class="star-light">
                <p class="highlight"></p>
                <div class="picker">
                    <select name="side" class="image-picker show-labels">
                        <option data-img-src="static/images/S1.png" value="1">Pommes Frites</option>
                        <option data-img-src="static/images/S2.png" value="2">Country Cuts</option>
                        <option data-img-src="static/images/S3.png" value="3">Chips</option>
                        <option data-img-src="static/images/S4.png" value="4">Onion Rings</option>
                    </select>
                </div>
            </div>
        </section>

        <section class="masthead text-center">
            <div class="container">
                <h3>Name &amp; Description</h3>
                <hr class="star-dark">
                <p class="highlight">
                    Please note that you can only create one burger, so make it count!
                </p>
                <input class="form-control" id="input_name" name="name" type="text" placeholder="Give your burger a name">
                <input class="form-control" id="input_description" name="description" maxlength="200" type="text" placeholder="Describe your burger"> <br/>
                <input class="btn btn-primary" type="submit" value="Create Burger">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>
        </section>
    </div>
</form>
{% endblock %}
