{% extends 'base.html' %}

{% block title %} AMIV Burger {% endblock %}

{% block content %}
<section class="bg-primary text-white text-center top-section" id="info">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">And the winner is...</h2>
        <hr class="star-light">
        <div class="text-center">
            <h3>{{ winner.name }} by {{ winner.nethz }}</h3> 
            <h5 class="mb-5">{{ patty.get(winner.patty) }}
                in a {{ bread.get(winner.bread) }}
                with
                {% for topping in winner.toppings.split(', ') %}
                    {{ toppings.get(topping|int) }}{{ ', ' if not loop.last }}
                {% endfor %}
                and a side of {{ side.get(winner.side) }}.</h5>
            <h3>Congrats!</h3>
        </div>
    </div>
</section>
{% endblock content %}
