{% extends 'base.html' %}

{% block title %} AMIV Burger Login {% endblock %}

{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container login">
        <h2 class="text-center text-uppercase text-white">Login required</h2>
        <div class="text-center">
          <p>You need to log in with your nethz credentials to create or vote on any burger.</p>
        </div>
        <hr class="star-light">
        <form method="POST" action="/login">
          <input class="form-control" id="input_user" name="user" type="text" placeholder="nethz username"/><br/>
          <input class="form-control" id="input_passwd" name="passwd" type="password" placeholder="Password"/><br/>
          <input class="btn btn-primary" type="submit" value="sign in"/>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="next" value="{{ request.args.get('next') if request.args.get('next') else '' }}">
        </form>
    </div>
</header>
{% endblock %}