{% extends 'base.html' %}

{% block title %} AMIV Burger Creator {% endblock %}

{% block content %}
<section class="bg-primary text-white text-center top-section" id="info">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Pick your Favourites</h2>
        <hr class="star-light">
        <div class="text-center">
            <h5>
                Below you find a list of burgers that have been created so far.
                Have a look and give some love to your favourites!
                The burger that is ranked highest on March 28th at 11:59 pm will be available
                at the canteen Polyterasse and the Food Trailer at ETZ on April 11th!
            </h5>
            <button class="btn btn-xl btn-outline-light mt-3" onclick="window.location.href='/new'">
                Create your own burger!
            </button>
        </div>
    </div>
</section>

<section class="masthead text-center">
    <div class="container">
        <h3>Burger Gallery</h3>
        <hr class="star-dark">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="?sort=newest">Newest first</a>
                <a class="dropdown-item" href="?sort=top">Top-rated first</a>
            </div>
        </div>

        <p class="highlight"></p>

        <div class="list-group">
            {% for burger in burger_list %}
            <div class="list-group-item burger">
                <!-- Invisible anchor with offset to compensate for fixed header -->
                <a class="burger__anchor" id="burger-{{ burger.id }}"></a>

                <!-- Ranking / burger icon -->
                {% if sort == 'top' %}
                    <h3 class="text-secondary burger__ranking">
                        {{ loop.index }}.
                    </h3>
                {% else %}
                    <img class="d-none d-md-inline mr-3 burger__icon" src="/static/images/burger.png" alt="Burger">
                {% endif %}
                
                <div class="burger__info">
                    <!-- Name & Ingredients -->
                    <div class="burger__ingredients">
                        <h4 class="text-primary">{{ burger.name }}</h4>
                        <p class="mb-0">
                            {{ patty.get(burger.patty) }}
                            in a {{ bread.get(burger.bread) }}
                            with
                            {% for topping in burger.toppings.split(', ') %}
                                {{ toppings.get(topping|int) }}{{ ', ' if not loop.last }}
                            {% endfor %}
                            and a side of {{ side.get(burger.side) }}.
                        </p>
                    </div>

                    <!-- Description and username -->
                    <blockquote class="blockquote burger__description">
                        <p class="mb-0">
                            {{ burger.description }}
                        </p>
                        <footer class="blockquote-footer text-lowercase">{{ burger.nethz }}</footer>
                    </blockquote>
                </div>

                <!-- Voting -->
                <div class="burger__voting">
                    <h4 class="text-secondary mb-3">{{ burger.vote_count }} Votes</h4>
                    <form action="/vote" method="POST">
                        {% if not burger.vote_id %}
                            <button class="btn btn-primary" type="submit">
                                <img src="static/images/like.png" alt="Like"> Like
                            </button>
                            <input type="hidden" name="action" value="like">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        {% else %}
                            <button class="btn btn-muted" type="submit">Unlike</button>
                            <input type="hidden" name="action" value="unlike">
                        {% endif %}
                        <input type="hidden" name="burger_id" value="{{ burger.id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock content %}